<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Жанры</title>
</head>
<body>
    <h1>Авторы</h1>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <td th:text="${genre.id}">73</td>
            <td th:text="${genre.name}">Название жанра</td>
        </tr>
        </tbody>
    </table>
</body>
</html>