<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/Semantic-UI/2.4.1/semantic.js"></script>
    <link href="/webjars/Semantic-UI/2.4.1/semantic.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>Редактирование автора</title>
</head>
<body>
<div th:insert="~{menu :: menu}"></div>
    <div class="ui container">
        <h1 class="ui header">Редактирование автора</h1>
        <h3 class="ui header" th:text="${author.name}">Имя автора</h3>
        <form class="ui form" action="/authors/update" method="post">
            <div class="field">
                <label>Имя автора</label>
                <input th:value="${author.name}" type="text" name="name" placeholder="Введите имя автора">
            </div>
            <input th:value="${author.id}" type="hidden" name="id">
            <button class="ui button" type="submit"><i class="ui check icon"></i>Сохранить</button>
        </form>
    </div>
</body>
</html>