<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="webjars/Semantic-UI/2.4.1/semantic.css" rel="stylesheet">
    <script src="webjars/Semantic-UI/2.4.1/semantic.js"></script>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <title>Библиотека (соблюдайте тишину)</title>
</head>
<body>
    <div class="ui container">
        <h1 class="ui header">Библиотека (соблюдайте тишину)</h1>
        <a href="authors">Посмотреть авторов</a>
        <a href="books">Посмотреть книги</a>
        <a href="genres">Посмотреть жанры</a>
        <a href="comments">Посмотреть комментарии</a>
    </div>
</body>
</html>