<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/Semantic-UI/2.4.1/semantic.js"></script>
    <script src="/js/main.js"></script>
    <link href="/webjars/Semantic-UI/2.4.1/semantic.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>Библиотека (соблюдайте тишину)</title>
</head>
<body>
    <div class="ui container">
        <h1 class="ui header">Библиотека (соблюдайте тишину)</h1>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large user middle aligned icon"></i>
                <div class="content">
                    <a href="authors">Авторы</a>
                    <div class="description">Посмотреть авторов</div>
                </div>
            </div>
            <div class="item">
                <i class="large book middle aligned icon"></i>
                <div class="content">
                    <a href="books">Книги</a>
                    <div class="description">Посмотреть книги</div>
                </div>
            </div>
            <div class="item">
                <i class="large smile middle aligned icon"></i>
                <div class="content">
                    <a href="genres">Жанры</a>
                    <div class="description">Посмотреть жанры</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>