<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <div th:fragment="menu">
        <div class="ui stackable top fixed menu">
            <a class="item" href="/"><i class="large hooli middle aligned icon"></i></a>
            <a class="item" href="/authors">
                <i class="user middle aligned icon"></i>
                Авторы
            </a>
            <a class="item" href="/books">
                <i class="book middle aligned icon"></i>
                Книги
            </a>
            <a class="item" href="/genres">
                <i class="smile middle aligned icon"></i>
                Жанры
            </a>
            <div class="right menu">
                <a class="item" href="/logout">
                    <i class="logout middle aligned icon"></i>
                    Выход
                </a>
            </div>
        </div>
    </div>
    </body>
</html>